@import "../../scss";

.people {
  display: grid;
  gap: 1.5rem;
  margin: 2rem auto 3rem auto;
  max-width: 326px;
  @include screen-min-576 {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem auto 4.5rem auto;
    max-width: 640px;
  }
  @include screen-min-1280 {
    grid-template-columns: repeat(4, 1fr);
    margin: 2.5rem auto 6rem auto;
    max-width: none;
  }
  @include screen-min-1600 {
    margin: 3.5rem auto 8rem auto;
  }
}

.person {
  position: relative;
  width: 100%;

  &__photo {
    border-radius: 0.75rem;
    display: block;
    margin-bottom: 2.5rem;
    position: relative;
    width: 100%;
    @include screen-min-1600 {
      margin-bottom: 3.5rem;
    }
  }

  &__info {
    background-color: $green95;
    border-top-right-radius: 1.25rem;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    position: absolute;
    width: 80%;
    @include screen-min-1600 {
      padding: 1.875rem;
    }
  }

  &__name {
    font-size: 1.25rem;
    font-weight: 600;
    @include screen-min-1600 {
      font-size: 1.5rem;
    }
  }

  &__position {
    font-size: 1rem;
    margin-top: 0.5rem;
    @include screen-min-1600 {
      font-size: 1.125rem;
    }
  }
}
