@import "../../scss";

.achievements {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 3rem;
  @include screen-min-768 {
    margin-bottom: 6rem;
  }
  @include screen-min-1280 {
    gap: 3.5rem;
  }
  @include screen-min-1600 {
    gap: 4.5rem;
    margin-bottom: 9rem;
  }
}

.cards {
  display: grid;
  gap: 1.25rem;
  @include screen-min-768 {
    grid-template-columns: repeat(2, 1fr);
  }
  @include screen-min-1600 {
    gap: 1.5rem;
  }
}

.card {
  border: 1px solid $green85;
  border-radius: 0.75rem;
  background-color: $green95;
  padding: 1.875rem;
  @include screen-min-1280 {
    padding: 2.5rem;
  }
  @include screen-min-1600 {
    padding: 2.5rem 3rem;
  }

  &__header {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start;
    margin-bottom: 1rem;
    @include screen-min-1280 {
      margin-bottom: 1.25rem;
    }
    @include screen-min-1600 {
      gap: 0.75rem;
      margin-bottom: 1.5rem;
    }
  }

  &__icon {
    border-radius: 0.5rem;
    display: block;
    height: 48px;
    @include screen-min-1280 {
      height: 54px;
    }
    @include screen-min-1600 {
      height: 68px;
    }
  }

  &__title {
    font-size: 1.125rem;
    font-weight: 600;
    @include screen-min-1280 {
      font-size: 1.25rem;
    }
    @include screen-min-1600 {
      font-size: 1.5rem;
    }
  }

  &__info {
    @include paragraph;
  }
}
